body{
  /*  background-color: #f4f4f4;*/
  margin: 0;
  padding: 0;
  background:url('images/Design_Museum.jpg');
  background-size: 100% 800px;
  /*che konim back ground jabeja beshe?*/
  background-attachment: fixed;
  /*background cover chiye?*/
}

.row{
  *zoom:1;
}

.row:before,.row:after {
  content:" ";
  display:table;
}
.row:after {clear:both;}
.box{
  box-sizing: border-box;
}

.container{
  width: 980px;
  margin: 30px auto 70px;
}
.r1{
}
.r1::selection{
  background: #aaa;
  color: yellow;
}

/*chera kar nemikone???*/

.r1 .box {
float:right;
margin-right: 20px;
}

.r1 .box p{
  padding: 0;
  margin: 0;
  display: block;
  background-color: #fd0;
  color:black;
  padding: 5px;
  padding: 5px;  
  font-size: 12px;
}
.r1 .box a{
  display: block;
}

.r2 {
  margin-top: 7px;
  margin: 0;
  padding: 0;
  background-color: white;
}
.r2 .boxl{
  float: left;
  width: 40%;
  padding: 20px 20px 10px 20px;
}

.r2 .boxr{
  float: left;
  /*width: 60%;chera kharab mishe...*/
}
menu{
  margin: 0;
  padding: 0;
}
menu.main{
  margin: 20px 10px;
  padding: 0;
}
menu.main li{
  display: table;
  float:left;
  position: relative;
  list-style-type: none;
}
menu.main li a{
  display: block;
  padding:5px 10px;
  text-decoration: none;
  color:#B2B2B6;
  font-weight: bold;
  font-family: aria;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition:all 1000 ms;
  transition:all 1000 ms;/*chera kar nemikone???*/
}
menu.main li:first-child a{
  color:#000;  
}
menu.main li li:hover{
  color:#000;  
  -webkit-transition:all 1000 ms;/*chera kar nemikone???*/
  transition:all 1000 ms;/*chera kar nemikone???*/
}
menu.main li:hover menu.sub{
  display: block;
  -webkit-transition:all 1000 ms;/*chera kar nemikone???*/
  transition: all 700ms;/*chera kar nemikone???*/
}
menu.sub{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  box-shadow:0px 0px 3px #222;
  background-color: white;
  width: 150px;
}
/*bayad hatman 2bare kar haye zir ro bokonam! rah dege i nist?*/
menu.sub li{
  padding: 5px;
  display: block;
  float:none;
}
menu.sub li a{
  border-top: 1px solid #ddd;
  display: block;
  padding:5px 10px;
  text-decoration: none;
  color:#B2B2B6;
  font-weight: bold;
  font-family: aria;
  font-size: 13px;
  -webkit-transition:all 1s;
  transition:all 1s;/*chera kar nemikone???*/
}
menu.sub li a{
  font-weight: normal;
  
}
menu.sub li:first-child a{
  border-top:none;   
  color:#B2B2B6;
}
menu.sub li a:hover{
  color:#000;  
  -webkit-transition: all 1s;
  transition: all 1s;

}



.r3 {
  margin-top: 15px;
  background-color: white;
}
.r3 .boxl{
  float: left;
  width: 60%;
  /*height: 300px;*/
  padding: 20px;
  padding-bottom: 50px;

}
div.img{
   width: 700px;
   height: 350px;
   background-image: url('images/slidebar.jpg')

}
.r3 .boxr{
  float:  right;
  margin-right: 30px;
  /*chrea dorost ba float leftkar nemikone 
  va chrea arz ha ba width  70% 30 %  ya har arzi ke majmooe 100 beshe kar nemikone???
  */
  width: 20%;
  /*height: 300px;*/
  padding: 10px;
}
.r3 .boxr img{
/*  width: 220px;
  height: 106px;*/
}
.r3 .boxr p{
  font-family: Georgia;
  font-size: 13px;
  line-height: 1.6;
  color:#555;
}
.r3 .boxr a{
  font-family: Georgia;
  font-size: 13px;
  font-weight:700;
  line-height: 1.6;
  color:#333;
  text-decoration:none;
  border-bottom: 1px dotted black;
  -webkit:trasition:;
}
.r3 .boxr a:hover{
  background-color: #ffd62c;
  border-bottom: 1px dotted transparent;
}

.r4{
 background-color: white; 
}
.r4 .pic1{
  float: left;
  width: 25%;
  /*height: 150px;/*test*/
}

.r4 .pic2{
  float: left;
  width: 25%;
  /*height: 150px;/*test*/

}

.r4 .pic3{
  float: left;
  width: 25%;
  /*height: 150px;/*test*/

}

.r4 .pic4{
  float: left;
  width: 25%;
  /*height: 150px;/*test*/

}
.r5 {
  background-color: #222; 
  margin-top: 15px;
}
.r5 .boxl {
  float: left;
  width: 50%;
  height: 300px;/*test*/    
}

.r5 .boxc {
  float: left;
  width: 25%;
  height: 300px;/*test*/    
}

.r5 .boxc {
  float: left;
  width: 25%;
  height: 300px;/*test*/    
}

.r6 {
  
  margin-top: 15px;
}
.r6 .boxl {
  float: left;
  width: 50%;
  height: 50px;/*test*/    
}

.r6 .boxr {
  float: left;
  width: 50%;
  height: 50px;/*test*/    
}


/*start*******/
  .container{
      outline: 1px dotted gray;
    }

    .container > *{
      outline: 1px dotted green;
    }

    .container > * > *{
      outline: 1px dotted red;
    }

    .container > * > * > *{
      outline: 1px dotted blue;
    }
    .container > .row > .box{
      outline: 1px dashed black;
    }

    .container > * > * > * > *{
      outline: 1px dotted magenta;
    }

/*end*******/